/*
  Mission:  EVE
  2021
*/

@import "fonts.css";
@import "display-or-hide.css";
@import "responsive_text-align.css";

:root {
  --app-bgcolor-default: white;
  --app-color-default: rgb(26, 17, 53); /* Client's request */

  --app-color-black: black;
  --app-color-darkgray: #333333;
  --app-color-blue: rgb(32,87,107);
  --app-color-greenwhite: #eaf1f0;
  --app-color-lightblue: rgb(105, 210, 224);
  --app-color-lightblue2: #c5e9e2;
  --app-color-lightgray: #eee;
  --app-color-green: rgb(148, 193, 24);
  --app-color-lightgreen: rgb(158, 226, 209);
  --app-color-lightgreen2: #ccf1e7;
  --app-color-lightpink: #ffdbe2;
  --app-color-mediumgray: #909090;
  --app-color-orange: #ec6200;
  --app-color-orange2: #fc913a;
  --app-color-pink: rgb(253, 75, 113);
  --app-color-red: #f33e31 ;
  --app-color-stone: #141313; /* anthracite */
  --app-color-violet: #30074d;
  --app-color-violetblue: rgb(26, 17, 53);
  --app-color-yellow: rgb(249, 212, 35);
  --app-color-yellow2: #fef6d2;
  --app-color-yellowgreen: #c3ca00;
  --app-color-white: white;

  --app-font-default: 'Montserrat Regular';
  --app-max-width: 1600px;
}

/*--------------------------------------------------
----------------------------------------------------
-------- Vertical scroll bar customization ---------
----------------------------------------------------
------------------ Chrome only ---------------------
----------------------------------------------------*/

::-webkit-scrollbar {
  background: transparent;
  width: 10px;
  box-shadow: inset .15em 0 .53em .06em rgba(48, 7, 77, .8),
              inset .5em 0 .3em .1em rgba(255, 255, 255, .1);
}
::-webkit-scrollbar-thumb:vertical {
  border-radius: 2px;
  background-image: url(../../assets/pics/logos/scrollbar.png);
  /*background-color: var(--app-color-pink);*/
  background-repeat: no-repeat;
  background-position: 1px 1px;
  background-size: 100% 100%;
  box-shadow: inset .21em 0 .3em .06em rgba(48, 7, 77, .8),
              inset .5em 0 .3em .1em rgba(255, 255, 255, .2);
}
::-webkit-scrollbar-button:vertical:decrement {
  background-image: url(../../assets/pics/pictos/up.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 1px 1px;
  padding: 1px 0;
  box-shadow: 0 .21em .3em .06em rgba(48, 7, 77, .6);
}
::-webkit-scrollbar-button:vertical:increment {
  background-image: url(../../assets/pics/pictos/down.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 1px 3px;
  padding: 1px 0;
  box-shadow: 0 -.21em .3em .06em rgba(48, 7, 77, .6);
}
::-webkit-scrollbar-button:vertical:increment:hover,
::-webkit-scrollbar-button:vertical:decrement:hover {
  background-size: 80%;
  background-position: 2px 3px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a, a:visited, a:hover {
    text-decoration: none;
    color: inherit !important;
}
/* ========== Pen colors ========== */
.app-color-black {
  color: var(--app-color-black);
}
.app-color-blue {
  color: var(--app-color-blue);
}
.app-color-darkgray {
  color: var(--app-color-darkgray);
}
.app-color-default {
  color: var(--app-color-default);
}
.app-color-greenwhite {
  color: var(--app-color-greenwhite);
}
.app-color-inherit {
  color: inherit;
}
.app-color-lightblue {
  color: var(--app-color-lightblue);
}
.app-color-lightgray {
  color: var(--app-color-lightgray);
}
.app-color-lightgreen {
  color: var(--app-color-lightgreen);
}
.app-color-mediumgray {
  color: var(--app-color-mediumgray);
}
.app-color-orange {
  color: var(--app-color-orange);
}
.app-color-pink {
  color: var(--app-color-pink);
}
.app-color-red {
  color: var(--app-color-red);
}
.app-color-stone {
  color: var(--app-color-stone);
}
.app-color-violet {
  color: var(--app-color-violet);
}
.app-color-violetblue {
  color: var(--app-color-violetblue);
}
.app-color-white {
  color:var(--app-color-white);
}
.app-color-yellow {
  color: var(--app-color-yellow);
}
.app-color-yellowgreen {
  color: var(--app-color-yellowgreen);
}
/* ========== Background colors ========== */
.app-bgcolor-blue {
  background-color: var(--app-color-blue);
}
.app-bgcolor-darkgray {
  background-color: var(--app-color-darkgray);
}
.app-bgcolor-default {
  background-color: var(--app-bgcolor-default);
}
.app-bgcolor-greenwhite {
  background-color: var(--app-color-greenwhite);
}
.app-bgcolor-lightblue {
  background-color: var(--app-color-lightblue);
}
.app-bgcolor-lightblue2 {
  background-color: var(--app-color-lightblue2);
}
.app-bgcolor-lightgreen {
  background-color: var(--app-color-lightgreen);
}
.app-bgcolor-lightgreen2 {
  background-color: var(--app-color-lightgreen2);
}
.app-bgcolor-orange {
  background-color: var(--app-color-orange);
}
.app-bgcolor-orange2 {
  background-color: var(--app-color-orange2);
}
.app-bgcolor-pink {
  background-color: var(--app-color-pink);
}
.app-bgcolor-red {
  background-color: var(--app-color-red);
}
.app-bgcolor-violet {
  background-color: var(--app-color-violet);
}
.app-bgcolor-violetblue {
  background-color: var(--app-color-violetblue);
}
.app-bgcolor-white {
  background-color: var(--app-color-white);
}
.app-bgcolor-yellow {
  background-color: var(--app-color-yellow);
}
.app-bgcolor-yellow2 {
  background-color: var(--app-color-yellow2);
}
.app-bgcolor-yellowgreen {
  background-color: var(--app-color-yellowgreen);
}
/* ========== Fonts ========== */
.app-font-bold {
  font-family: 'Montserrat Bold';
}
.app-font-default {
  font-family: var(--app-font-default);
}
.app-font-extrabold {
  font-family: 'Montserrat ExtraBold';
}
.app-font-extrabold-italic {
  font-family: 'Montserrat ExtraBoldItalic';
}
.app-font-italic {
  font-family: 'Montserrat Italic';
}
.app-font-medium-italic {
  font-family: 'Montserrat MediumItalic';
}
.app-padding-x {
  /* Page horizontal margins and width limits. */
  padding-left: 15%!important;
  padding-right: 15%!important;
  margin: 0 auto;
}
/*.app-max-width {
  max-width: var(--app-max-width);
  margin: 0 auto;
}*/
body {
  color: var(--app-color-default);
  font-family: var(--app-font-default);
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
  max-width: var(--app-max-width);
  margin: 0 auto;
}
.border-transparent {
  border-color: transparent;
}
.code-by-container {
  /* Used by Code Phenix Logo */
  bottom: 7px;
  right: 0;
  background-color: var(--app-color-pink);
}
.code-by {
  /* Used by Code Phenix Logo */
  padding: .6em 2em;
  padding-right: 1.2em;
  background-color: transparent;
  background-image: linear-gradient(to right, var(--app-color-lightgreen), var(--app-color-lightgreen2) 70%), linear-gradient(to bottom, var(--app-color-lightgreen), var(--app-color-lightgreen2) 40%, var(--app-color-lightgreen), var(--app-color-lightgreen2) 54%);
  -webkit-text-fill-color: var(--app-color-blue);
  -webkit-text-stroke: .02em transparent;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-weight: 700;
}
footer, header {
  max-width: var(--app-max-width);
  margin-left: auto;
  margin-right: auto;
}
.image-box {
  position: relative;
  display: inline-block;
}
.link-badge-rounded {
  display: inline-block;
  border-radius: 40px;
  padding: 1.25em;
  font-family: 'Montserrat Bold';
  border: solid 1px;
  text-align: center;
}
#rgpd {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 150px;
  width: 100%;
  z-index: 1000;
  padding: 0.85em 
}
#rgpd button {
  border: 2px solid var(--app-color-white);
  color: var(--app-color-white);
  margin-bottom: 1.5em;
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  text-decoration: none; 
}
#rgpd #ok {
  position: absolute;
  right: 12vw;
  bottom: 2vh;
  width: 150px;
}
#rgpd #ok span {
  left: calc(100% / 3.5);
  top: calc(100% / 3);
}
#rgpd #notok {
  position: absolute;
  right: 24vw;
  bottom: 2vh;
  width: 150px;
}
main {
  max-width: var(--app-max-width);
  margin: 0 auto;
}
.max-w75 {
  max-width: 75%;
}

nav.app-navmenu {
  color: var(--app-color-violetblue);
  font-size: large;
}
nav.app-navmenu ul {
  width: 100%;
  /* padding: 1.5em; */
  padding: 5px 1.5em 5px 1.5em;
  font-family: var(--app-font-default);
  font-weight: bold;
  justify-content: center;
}
nav.app-navmenu ul li {
  background-color: var(--app-color-greenwhite);
  border: solid 2px var(--app-color-violetblue);
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* vertical alignment */
  padding: .5em 2.5em;
  text-align: center;
}
@media only screen and (min-width: 992px) {
  nav.app-navmenu ul li {
    padding: 0 1em;
  }
  nav.app-navmenu ul li a[name="item-index"], nav.app-navmenu ul li a[name="item-contact"] {
    padding: 1.3em 1em;
  }  
}
@media only screen and (max-width: 1080px) {
  nav.app-navmenu ul {
    font-size: 16px;
  }
}
@media only screen and (max-width: 991px) {
  nav.app-navmenu ul li {
    border-radius: 0;
    padding: 0.25em 1em;
    margin-bottom: 0.5em;
    font-weight: normal;
    font-size: large;
    text-align: left;
    border: solid 1px rgb(26, 17, 53, 0.6);
  }
}
@media only screen and (max-width: 700px) {
  nav.app-navmenu ul li {
    font-size: 0.9rem;
  }
}
nav.app-navmenu ul li:hover {
  background-color: var(--app-color-pink);
  color: var(--app-color-white);
}
.presentation:first-letter {
  font-size: 2em;
  color: salmon;
}
q {
  quotes: "«" "»";
}
q::before {
  content: open-quote;
}
q:after {
  content: close-quote;
}
.text-is-supersized {
  font-size: 10em;
}
.text-size-title1 {
  /* To size primary titles */
  font-family: 'Montserrat Bold';
  font-size: 3.5em;
}
.text-size-title2 {
  /* To size secondary titles */
  font-family: 'Montserrat Bold';
  font-size: 2.5em;
}
.text-size-title3 {
  /* To size third level titles */
  font-family: 'Montserrat Bold';
  font-size: 1.8em;
}
@media only screen and (min-width: 1250px) {
  .text-size-title2 {
    font-family: 'Montserrat Bold';
    font-size: 3em;
  }
  .text-size-title3 {
    font-family: 'Montserrat Bold';
    font-size: 2em;
  }
}
@media only screen and (max-width: 768px) {
  .text-size-title2 {
    font-size: 2em;
  }
   .text-size-title3 {
    font-size: 1.5em;
  }
}
.w-25px {
  width: 25px;
}
.w-40px {
  width: 40px;
}
.w-75px {
  width: 75px;
}
.w-100px {
  width: 100px;
}
.w-150px {
  width: 150px;
}
.w-200px {
  width: 200px;
}
.zindex2 {
  z-index: 2;
}
.zindex4 {
  z-index: 4;
}


/*|==============================================|
  |                                              |
  |       BOOSTRAP RESPONSIVE BREAKPOINTS        |
  |                                              |
  |                 sm : 576 px                  |
  |                 md : 768 px                  |
  |                 lg : 992 px                  |
  |                 xl : 1200 px                 |
  |                                              |
  |==============================================| */


/* Custom display/hide width ranges */
@media only screen and (min-width: 500px) {
  .hide-from-500 { /* Hide beyond 500px width */
    display: none;
  }
}
@media only screen and (max-width: 500px) {
  .hide-to-500 { /* Display untill 500px width */
    display: none;
  }
}
@media only screen and (max-width: 450px) {
  .hide-to-450 { /* Display beyond 450px width */
    display: none;
  }
}
@media only screen and (max-width: 400px) {
  .hide-to-400 { /* Display beyond 400px width */
    display: none;
  }
}
