.close-symbol {
	background-color: transparent;
	border: 0;
	-moz-appearance: none;
	appearance: none;
	font-size: 1.5em;
	padding: 0.5em 0.5em 0 0;
	position: absolute;
	right: 0;
	z-index: 4;
}
@media only screen and (max-width: 992px) {
	.close-symbol {
		padding: 0.3em;
	}
}
.link-badge-rounded {
	text-align: center;
	position: relative;
	z-index: 4;
}
.link-badge-rounded:hover {
	background-color: var(--app-color-pink);
	color: var(--app-color-white);
}
.max-w { /* Section inner max width */
	max-width: 900px;
}
@media only screen and (max-width: 992px) {
	.max-w { /* Section inner max width */
		max-width: 650px;
	}
}
@media only screen and (max-width: 768px) {
	.max-w { /* Section inner max width */
		max-width: 580px;
	}
}
@media only screen and (max-width: 576px) {
	.max-w { /* Section inner max width */
		max-width: 400px;
	}
}
nav .nav-item:nth-child(1) { /* Nav menu selected tab */
	background: var(--app-color-pink);
	border-color: var(--app-color-violetblue);
	color: white;
}
section {
  padding-top: 6em;
  padding-left: 20%;
  padding-right: 10%;
  padding-bottom: 2em;
}
@media only screen and (max-width: 576px) {
	section {
		padding-left: 10%;
	}
}


/* _____ NEW SECTION _____  */

section#introduction {
	background-color: var(--app-color-pink);
	font-size: 1.5em;
	position: relative;
	transform-origin: top;
	height: auto;
}
section#introduction .about {
	padding: 1em 6em 1em 1em;
	align-self: center;
}
section#introduction .action-leader {
	display: flex;
	align-items: flex-end;
	margin-bottom: 3em;
	justify-content: flex-end;
	align-items: center;
	margin-right: 3em
}
section#introduction .action-leader > p {
	margin-bottom: 0
}
@media only screen and (max-width: 576px) {
	section#introduction .action-leader {
		display: block;
		margin-bottom: 8vw;
		margin-top: 1em;
		font-size: 20px;
		width: 100%;
	}
	section#introduction .action-leader div.w-200px {
	margin-left: auto !important;
	margin-right: auto !important;
	}
}
@media only screen and (min-width: 992px) {
	section#introduction .action-leader {
	 margin-bottom: 0em;
	}
}
section#introduction .action-leader-superblock {
	display: flex;
	justify-content: flex-end;
}
@media only screen and (max-width: 992px) {
	section#introduction .action-leader-superblock {
		justify-content: center;
	}
}
section#introduction .logo-mage {
	background: url('../../assets/pics/logos/logo_mage_bg-pink.svg') center no-repeat;
	background-size: contain;
	height: 12vw;
	width: 65%;
	margin-left: auto;
	display: block;
}
section#introduction .logos {
	padding: 3em 1% 1em 1%;
}
section#introduction .logos .image-box {
	width: 200px;
}
section#introduction .logos .image-box {
	/* Client's request: French Red Cross logo must be larger than others */
	width: 250px;
}
section#introduction .logos img {
	height: 120px;
	vertical-align: middle;
	width: 100%;
}
section#introduction .mage-strip {
	position: relative;
}
section#introduction .session-badge {
	background: url('../../assets/pics/logos/session-badge_2019-2020.svg') center no-repeat;
	background-size: contain;
	height: 160px;
	width: 160px;
	position: absolute;
	bottom: -65px;
	left: 1em;
}
@media only screen and (max-width: 1550px) {
	section#introduction .about {
    	padding-right: 4em;
	}
}
@media only screen and (max-width: 1325px) {
	section#introduction .about {
    	padding-left: 3em;
	}
	section#introduction .logo-mage {
    	margin-left: 9em;
		height: 200px;
	}
}
@media only screen and (max-width: 991px) {
	section#introduction .about {
		padding: 0 4em 1em 10em;
	}
	section#introduction .logo-mage {
		margin: 0 auto;
		height: 200px;
	}
	section#introduction .logos img {
		margin-top: 1em ;
	}
	section#introduction .session-badge {
	 width: 150px;
	}
}
@media only screen and (max-width: 576px) {
	section#introduction .about {
		padding: 1em 2em 2em 4em;
		position: relative;
		top: -2em;
	}
	section#introduction .logo-mage {
		width: 300px;
	}
	section#introduction .session-badge {
		width: 140px;
	}
}
@media only screen and (max-width: 400px) {
	section#introduction .about {
		padding-left: 1.5em;
	}
}
/* ------------ Introduction strip's animation ------------ */
.animation-mage-strip-open {
	/* Mage strip enters page at the top and slides down to its final position */
 	animation: openIntroStripMage 2.5s;
}
/*.animation-mage-strip-close {
	will-change: height;
	animation: closeIntroStripMage 2s ease forwards;
	transition: height 1s ease;
}*/
@keyframes openIntroStripMage {
	from {
		top: -600px;
	}
	to {
		top: 0;
	}
}
/*@keyframes closeIntroStripMage {
	from {
		transform: scaleY(1);
	}
	to {
		transform: scaleY(0);
		border: 10px red;
	}
}*/

/* _____ NEW SECTION _____  */

section#evaluation {
	padding: 0;
	padding-top: 3em;
	padding-left: 0em;
	padding-bottom: 3em;
	z-index: 2;
}
section#evaluation .people-on-curve {
	position: absolute;
	width: 100%;
	bottom: -140px;
	overflow: hidden;
}
section#evaluation image-box.people-on-curve img {
	position: relative;
	width: 120%;
	left: -20%;
}
section#evaluation .part1 { /* Eve text */
	margin-left: 10%;
	width: 40%;
}
section#evaluation .part4 {
	position: relative;
	display: flex;
	justify-content: flex-end;
	margin-right: 3em;
}
section#evaluation .part4 p {
  font-size: 2em;
  line-height: 1.2;
  background-color: var(--app-color-lightgreen);
  width: 60%;
}
section#evaluation .part5 .link-badge-rounded {
	margin-right: 8em;
	border-color: transparent;
}
section#evaluation .part5 .link-badge-rounded:hover {
	background-color: var(--app-color-white);
	color: var(--app-color-pink);
}
@media only screen and (max-width: 1200px) {
	section#evaluation .people-on-curve {
		bottom: 0em;
		left: -7em;
		width: 110%;
	}
}
@media only screen and (max-width: 991px) {
	section#evaluation .people-on-curve {
		bottom: 6em;
		left: -10em;
		width: 120%;
	}
	section#evaluation .part4 {
		margin-right: 6em;
	}
	section#evaluation .part4 p {
    width: 80%;
		font-size: 1.75em;
	}
}
@media only screen and (max-width: 768px) {
	section#evaluation .people-on-curve {
		bottom: 14em;
		left: -9em;
	}
	section#evaluation .part4  {
		margin-left: 2em;
		margin-right: 2em;
	}
	section#evaluation .part4 p {
		width: 90%;
	}
	section#evaluation .part5 .link-badge-rounded{
	 margin-right: 0;
	}
}
@media only screen and (max-width: 576px) {
	section#evaluation .people-on-curve {
		bottom: calc(15em + 15vw);
		left: -5em;
		width: 130%;
	}
	section#evaluation .part1 img {
		max-width: 85vw;
		min-width: 70vw;
	}
	section#evaluation .part4 p {
		font-size: 1.5em;
		width: 100%;
	}
}
@media only screen and (max-width: 400px) {
	section#evaluation .people-on-curve {
		display: none;
	}
}


/* _____ NEW SECTION _____  */

section#mage .green-curve {
  left: 0;
  margin-left: -0.5em;
  margin-top: -4em;
  transform: rotate(-1deg);
}
section#mage .orange-curve {
  right: 0;
  width: 90px;
  overflow: hidden;
}
section#mage .discover .link-badge-rounded a {
	padding: 1.25em;
}
section#mage .speech-bubble {
	left: -25%;
	width: 100px;
	bottom: -18em;
}
@media only screen and (max-width: 992px) {
	section#mage {
		padding-top: 6em;
	}
	section#mage .orange-curve {
		width: 70px;
	}
}
@media only screen and (max-width: 768px) {
	section#mage {
		padding-top: 4em;
		padding-left: 2em;
	}
	section#mage .discover {
		text-align: center;
	}
	section#mage .green-curve {
	 width: 200px;
	}
	section#mage .orange-curve {
  	width: 120px;
	}
}
@media only screen and (max-width: 576px) {
	section#mage .green-curve {
	 width: 180px;
	}
	section#mage .orange-curve {
  	width: 100px;
	}
}
@media only screen and (min-width: 1432px) {
	section#mage .custom-line-break {
		display: none;
	}
}


/* _____ NEW SECTION _____  */

section#resources .left-arrow-man {
	right: 4em;
	top: -3em;
}
section#resources .right-arrow-man {
	left: -8em;
	top: -3em;
}
@media only screen and (max-width: 1300px) {
	section#resources .left-arrow-man {
		right: -1em;
		top: -5em;
	}
}
@media only screen and (max-width: 768px) {
	section#resources .left-arrow-man {
		width: 80px;
		right: 0;
	}
	section#resources .right-arrow-man {
		width: 80px;
		left: -6em;
	}
}
@media only screen and (max-width: 585px) {
	section#resources .left-arrow-man {
		right: 0;
	}
	section#resources .right-arrow-man {
		left: -0.5em;
		top: 0;
	}
}
@media only screen and (max-width: 305px) {
	section#resources .part4 .link-badge-rounded {
		padding-top: 15px;
		padding-bottom: 15px;
	}
}



/* _____ NEW SECTION _____  */

section#partnership .blue-curve {
	left: -33em;
	margin-top: -9em;
	max-height: 650px;
	overflow: hidden;
	transform: rotate(1.5deg);
}
section#partnership .partners-hands {
	left: -12em;
	top: 3em;
}
@media only screen and (max-width: 992px) {
	section#partnership .partners-hands {
		left: 0;
		top: 0;
		max-width: 150px;
	}
}
@media only screen and (max-width: 768px) {
	section#partnership .partners-hands {
		max-width: 100px;
	}
}
@media only screen and (max-width: 576px) {
	section#partnership .partners-hands {
		left: calc(1em - 4vw);
		top: calc(-2.75em + 10vw);
		max-width: 100px;
	}
}



/* _____ NEW SECTION _____  */

section#contact  {
	padding-bottom: 5em;
}
@media only screen and (max-width: 576px) {
	section#contact  {
		/* padding-bottom: 2em; */
	}
}




/* Logo Phenix : custom style in this page */
.code-by {
	background-image: linear-gradient(to right, var(--app-color-lightgreen), var(--app-color-lightgreen2) 70%), linear-gradient(to bottom, var(--app-color-lightgreen), var(--app-color-lightgreen2) 40%, var(--app-color-lightgreen), var(--app-color-lightgreen2) 54%);
	-webkit-text-fill-color: var(--app-color-blue);
}
