/* ===== PAGE SETTINGS ===== */
.link-badge-rounded {
	text-align: center;
}
.link-badge-rounded:hover {
	background-color: var(--app-color-pink);
	color: var(--app-color-white);
}
nav .nav-item:nth-child(2) { /* Nav menu current page's selected tab */
	background: var(--app-color-pink);
	border-color: var(--app-color-violetblue);
	color: white;
}
section {
	padding: 3em 5em 2em 5em;
}
@media only screen and (max-width: 576px) {
	section {
		padding: 3em;
	}
}


/* _____ NEW SECTION _____  */

section#introduction {
	padding-top: 0; 
	margin-top: 2em;
}
section#introduction .box {
	margin-top: 5vw;
}
section#introduction .logo-mage {
	width: 50vw;
	max-width: 700px;
}
section#introduction .picto-pdf {
	width: 55px;
	margin-right: 0.5em;
}
section#introduction .picto-pdf {
	width: 55px;
	margin-right: 0.5em;
}
section#introduction .row {
	justify-content: center;
	align-items: flex-start;
}


@media only screen and (max-width: 992px) {
	section#introduction .box {
		display: flex;
		flex-direction: column;
    align-items: center;
	}
	section#introduction .picto-pdf {
		width: 50px;
		margin-bottom: 1em;
	}
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
	.link-badge-rounded {
		padding: 16px;
	}
}
@media only screen and (max-width: 768px) {
	section#introduction .learn-more {
		order: 10;
	}
	section#introduction .box {
		display: flex;
		flex-direction: row;
    align-items: baseline;
		justify-content: center;
		margin-top: 3em;
	}
	section#introduction .logo-mage {
		width: 60vw;
	}
	section#introduction .picto-pdf {
		/*! width: 40px; */
	}
	section#introduction .row {
		justify-content: center;
		align-items: flex-start;
	}
}
@media only screen and (max-width: 576px) {
	section#introduction {
		margin-top: 0.5em;
		padding-top: 2em;
	}
}
@media only screen and (max-width: 430px) {
	section#introduction .link-badge-rounded {
		padding: 10px;
		font-size: 0.9em;
	}
	section#introduction .picto-pdf {
		width: 40px;
	}
}







/* _____ NEW SECTION _____  */
section#presentation p {
	font-size: 1.75em;
	line-height: 1.6;
}
section#presentation .partners-hands {
	/* Background pictogram of partners hands */
	width: 70%;
	opacity: 0.15;
	top: 2em;
}
section#presentation {
	margin-bottom: 11em;
	margin-top: 1em;
}
@media only screen and (min-width: 1450px) {
	section#presentation {
		margin-bottom: 1em;
		padding-bottom: 0em;
	}
}
@media only screen and (max-width: 1200px) {
	section#presentation {
		margin-bottom: 1em;
		padding-bottom: 0em;
	}
}
@media only screen and (max-width: 992px) {
	section#presentation {
		padding-bottom: 0em;
	}
	section#presentation .partners-hands {
		width: 80%;
	}
}
@media only screen and (max-width: 768px) {
	section#presentation .partners-hands {
		width: 80%;
	}
}
@media only screen and (max-width: 576px) {
  section#presentation {
		margin-bottom: 0em;
		margin-top: 0em;
	}
	section#presentation p {
		font-size: 1.25em;
	}
}




/* _____ NEW SECTION _____  */
section#team .button-block {

}
section#team .testimony {
	margin: 3em;
	height: 100%;
	justify-content: center;	
}
@media only screen and (max-width: 1199px) {
	section#team .testimony {
		margin: 3em 3em;
		height: unset;
	}
}
@media only screen and (max-width: 768px) {
	section#team .testimony {
		margin: 1em;
	}
}
@media only screen and (max-width: 590px) {
	section#team .testimony {
		margin: 1em;
	}
}
section#team .quoted {
	font-family: 'Montserrat Bold';
	height: 100%;
	font-size: medium;
	line-height: 1.7;
}
section#team .quoted span {
	display: block;
	padding-top: 1em;
	font-family: var(--app-font-default);
}
@media only screen and (max-width: 1055px) {
	section#team .quoted {
	}
}
@media only screen and (max-width: 992px) {
	section#team .quoted {
		padding-top: 2em;
		padding-right: 2em;
	}
}
@media only screen and (max-width: 800px) {
	section#team .quoted {
		padding-top: 1.5em;
		padding-right: 1.5em;
	}
	section#team .button-block {
		font-size: 0.9em
	}
}
@media only screen and (max-width: 768px) {
	section#team .quoted {
		padding: 2em 4em 1em 4em;
	}
	section#team .button-block {
		font-size: 1em;
		margin-bottom: 2em;
	}
}
@media only screen and (max-width: 576px) {
	section#team .quoted {
		padding: 1em 3em 1em 3em;
	}
	section#team .button-block {
		margin-bottom: 3em;
	}
}



/* _____ NEW SECTION _____  */

section#stakes-laureates .row [class^="col-"] {
	display: flex;
	flex-direction: column;
	padding-left: 0;
	padding-right: 1.5em;
}
section#stakes-laureates .row [class^="col-"] p {
	background-color: var(--app-color-lightpink);
	padding: 0.5em;
}
section#stakes-laureates .row [class^="col-"] p strong {
		font-family: 'Montserrat Bold';
}
@media only screen and (max-width: 767px) {
	section#stakes-laureates .row [class^="col-"] {
		padding-left: 1em;
		padding-right: 6em;
	}
	section#stakes-laureates .row [class^="col-"] p {
		padding: 1em;
		margin-bottom: 2em;
	}
}
@media only screen and (max-width: 576px) {
	section#stakes-laureates .row [class^="col-"] {
		padding-left: 1em;
		padding-right: 1em;
	}
	section#stakes-laureates .row [class^="col-"] p {
		background-color: var(--app-color-white);
		padding: 1.5em;
	}
}




/* _____ NEW SECTION _____  */

section#stakes-associations .row [class^="col-"] {
	display: flex;
	flex-direction: column;
	padding-left: 0;
	padding-right: 1.5em;
}
section#stakes-associations .row [class^="col-"] p {
	background-color: var(--app-color-yellow2);
	padding: 0.5em;
	margin-bottom: 0;
	height: 100%;
}
section#stakes-associations .row [class^="col-"] p strong {
		font-family: 'Montserrat Bold';
}
@media only screen and (max-width: 767px) {
	section#stakes-associations .row [class^="col-"] {
		padding-left: 1em;
		padding-right: 6em;
		margin-bottom: 1em;
	}
	section#stakes-associations .row [class^="col-"] p {
		padding: 1em;
		margin-bottom: 1em;
	}
}
@media only screen and (max-width: 576px) {
	section#stakes-associations .row [class^="col-"] {
		padding-left: 1em;
		padding-right: 1em;
	}
}




/* _____ NEW SECTION _____  */

section#collective-production {
	padding-bottom: 4em;
}
section#collective-production .contact .link-badge-rounded {
	font-size: 0.9em;
	margin-top: 4em;
}
section#collective-production .contact .link-badge-rounded a {
	padding: 2.5em 1.5em;
}