/*
  Responsive text align
*/


/*|==============================================|
  |                                              |
  |       BOOSTRAP RESPONSIVE BREAKPOINTS        |
  |                                              |
  |                 sm : 576 px                  |
  |                 md : 768 px                  |
  |                 lg : 992 px                  |
  |                 xl : 1200 px                 |
  |                                              |
  |==============================================| */



/*________________________________________________
  ________________________________________________ */




/*||==============================================||
  ||==============================================||
  ||                                              ||
  ||   TEXT ALIGNMENT RULES UPON SCREEN SIZE      ||
  ||                                              ||
  ||                                              ||
  ||   PLEASE, NO CHANGES OR INSERTIONS HERE !!!  ||
  ||                                              ||
  ||==============================================||
  ||==============================================|| */


/*|==============================================|
  |                                              |
  |          ALIGNMENT OVER BREAKPOINTS          |
  |                                              |
  |==============================================| */

@media (min-width: 321px) {
  /* Extra-small alignment */
  .text-left-xs {
    text-align: left;
  }
  .text-center-xs {
    text-align: center;
  }
  .text-right-xs {
    text-align: right;
  }
}
@media (min-width: 576px) {
  .text-left-sm {
    text-align: left;
  }
  .text-center-sm {
    text-align: center;
  }
  .text-right-sm {
    text-align: right;
  }
}
@media (min-width: 768px) {
  .text-left-md {
    text-align: left;
  }
  .text-center-md {
    text-align: center;
  }
  .text-right-md {
    text-align: right;
  }
}
@media (min-width: 992px) {
  .text-left-lg {
    text-align: left;
  }
  .text-center-lg {
    text-align: center;
  }
  .text-right-lg {
    text-align: right;
  }
}
@media (min-width: 1200px) {
  .text-left-xl {
    text-align: left;
  }
  .text-center-xl {
    text-align: center;
  }
  .text-right-xl {
    text-align: right;
  }
}

/*|==============================================|
  |                                              |
  |         ALIGNMENT BELOW BREAKPOINTS          |
  |                                              |
  |==============================================| */

@media (max-width: 321px) {
  /* Extra-small alignment */
  .text-left-to-xs {
    text-align: left;
  }
  .text-center-to-xs {
    text-align: center;
  }
  .text-right-to-xs {
    text-align: right;
  }
}
@media (max-width: 576px) {
  .text-left-to-sm {
    text-align: left;
  }
  .text-center-to-sm {
    text-align: center;
  }
  .text-right-to-sm {
    text-align: right;
  }
}
@media (max-width: 768px) {
  .text-left-to-md {
    text-align: left;
  }
  .text-center-to-md {
    text-align: center;
  }
  .text-right-to-md {
    text-align: right;
  }
}
@media (max-width: 992px) {
  .text-left-to-lg {
    text-align: left;
  }
  .text-center-to-lg {
    text-align: center;
  }
  .text-right-to-lg {
    text-align: right;
  }
}
@media (max-width: 1200px) {
  .text-left-to-xl {
    text-align: left;
  }
  .text-center-to-xl {
    text-align: center;
  }
  .text-right-to-xl {
    text-align: right;
  }
}


/*|==============================================|
  |                                              |
  |          ALIGNMENT INTERVALS ONLY            |
  |                                              |
  |==============================================| */

@media  (max-width: 575px), (min-width: 1200px) {
  .text-left-sm-to-xl {
    text-align: left;
  }
  .text-center-sm-to-xl {
    text-align: center;
  }
  .text-right-sm-to-xl {
    text-align: right;
  }
}
@media  (max-width: 767px), (min-width: 992px) {
  .text-left-md-to-xl {
    text-align: left;
  }
  .text-center-md-to-xl {
    text-align: center;
  }
  .text-right-md-to-xl {
    text-align: right;
  }
}

