/* ------------------
---------------------
--- GLOBAL RULES ----
---------------------
---------------------*/
nav .nav-item:nth-child(4) { /* Nav menu selected tab */
	background: var(--app-color-pink);
	border-color: var(--app-color-violetblue);
	color: white;
}
h2{
	font-size: 2.5em;
}
h3 {
	font-size: 2em;
}
.container-fluid {
	padding-left: unset;
	padding-right: unset;
}
/* ------------------
------- END ---------
--- GLOBAL RULES ----
---------------------
---------------------*/
section#introduction {
	background-color: var(--app-color-yellow);
	padding-top: 3em;
  padding-bottom: 3em;
}
section .container-img {
	width: 120px;
}
section .title-inline {
	color: var(--app-color-orange);
	display: flex;
	align-items: flex-end;
	margin-bottom: .5em;
}
section .container-info {
	/*padding-top: 1em;*/
	padding-bottom: 1em;
}
section div.ressource-container {
	padding-top: 1em;
	padding-bottom: 1em;
}
section div.ressource-container h3 {
	margin-bottom: .5em;
	position: relative;
	cursor: default;
	transition: .15s;
}
section div.ressource-container h3:after {
	content: '';
	position: absolute;
	width: 63%;
	left: 0;
	bottom: -4px;
	height: 2px;
	background: var(--app-color-violetblue);
}
section div.ressource-container h3:hover {
	color: var(--app-color-orange)
} 
section div.ressource-container h3:hover:after {
	display: none;
}
@media (max-width: 450px) {
	h1 {
		font-size: 2.1em;
	}
	h2{
		font-size: 2em;
	}
	h3 {
		font-size: 1.9em;
	}
	section .title-inline {
		align-items: flex-start;
		flex-direction: column;
	}
}