@import './base.css';

body {
  min-height: 100vh;
  color: #fdc17b;
  /* Couleur du texte */
  background-color: #181818;
  /* Couleur de fond */
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
}

/* #app>div>div {
  padding: 2rem;
} */

*,
#app>div {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

/* Dans votre fichier style scoped ou non scoped */
.modal-open {
  overflow-y: hidden !important;
  /* !important pour s'assurer que la règle est prioritaire */
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  /* #app>div>div {
    width: 60%;
    margin: auto;
  } */
}