/*******GENERAL*******/
@font-face{
  font-family: "CabinSketch-Bold";
  src: url("fonts/CabinSketch-Bold.ttf");
}
@font-face{
  font-family: "Overlock-Regular";
  src: url("fonts/Overlock-Regular.ttf");
}
:root{
  scrollbar-color: rgb(210,210,210) rgb(46,54,69) !important;
  scrollbar-width: thin !important;
}
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  text-decoration: none;
  list-style: none;
}
html{
  scroll-behavior:smooth;
  font-size:62.5%;
}
body{
  font-size:1.6em ;
  background: whitesmoke;
}
img{
  max-width:100%;
  width:100%;
  display:block;
}
figure{
  width:100%;
}
button{
  background: none;
  border: none;
  cursor: pointer;
}
h1, h2, h3, h4, h5, h6{
  color: black;
  font-family: 'CabinSketch-Bold';
}
p, a, button{
  font-size: 1em;
  line-height: 1.5em;
  color: white;
  font-family: 'Overlock-Regular';
}
#collection article, #containerUn article, #nouveaute article, #catalogue article, #chaussures article, #vetements article{
  transition-property: all;
  transition-duration: .1s;
  cursor: pointer;
}

/*******HEADER + NAV*******/
header{
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: whitesmoke;
  height: 10vh;
  padding: 0 20px;
  z-index: 10000;
}
#blocLogo{
  z-index: 10000;
}
header h1 span{
  border-top: 2px solid royalblue;
  border-bottom: 2px solid royalblue;
  padding: 5px;
}
header button#navBut{
  display: flex;
  justify-content: center;
  align-items: center;
  background: royalblue;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  padding-bottom: 5px;
}
header button#navBut:before{
  content: "☰";
  font-size: 2em;
  color: white;
}
header ul{
  display: flex;
}
header ul li{
  padding: 0 5px ;
}
header ul span:before{
  font-size: 2em;
  color: royalblue;
  cursor: pointer;
}
header #wishHeart span{
  cursor: pointer;
}
nav{
  position: absolute;
  top: 10vh;
  right: 0;
  z-index: 100000;
}
nav ul{
  display: flex;
  flex-direction: column;
  padding: 50px;
  background: rgba(0, 90, 255, .95);
  font-size: 1.5em;
  border-radius: 0 0 0 5px;
}
nav ul li{
  padding: 5px 0;

}
nav ul li:before, nav ul li p:before{
  color: white;
  padding-right: 15px;
}
nav ul li a, nav ul li button {
  color: white;
  font-weight: bold;
}
nav #personnalMenu{
  color: white;
  padding-bottom: 30px;
}


/*******SECTION GENERAL*******/
section{
  margin-bottom: 30px;
  padding: 0 30px;
}
section h3{
  padding-bottom: 20px;
  font-size: 1.2em;
  letter-spacing: .1em;
}
section h3 span{
  border-top: 2px solid royalblue;
  border-bottom: 2px solid royalblue;
  padding: 5px;
}
section article{
  /*box-shadow: 0 0 10px #555;*/
  border: 2px solid royalblue;
  border-radius: 5px;
  padding: 5px;
  width: 48%;
  margin-bottom: 20px;
}
section article figure{
  position: relative;
}
section article figure button{
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, .6);
  width: 100%;
  height: 40px;
  font-weight: bold;
}
section article ul{
  display: flex;
}
section article figure img{
  border-radius: 5px;
}
section article h6{
  font-size: 1em;
  line-height: 1.3em;
}
section article span{
  font-size: 1.3em;
  color: royalblue;
}
#collection article, #bestSell article, #nouveaute article, #catalogue article, #chaussures article, #vetements article{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*******SECTION LANDING*******/
#landingSection{
  height: 90vh;
  position: relative;
  display: flex;
  background-image: url('assets/images/fotolia_62047262_72dpi.jpg');
  background-size: cover;
  background-position: left;
  padding: 0;
  margin-bottom: 60px;
}
#landingSection article{
  border: none;
  color: white;
  position: absolute;
  left: 10%;
  top: 30%;
  width: 65%;
}
#landingSection article h2{
  font-size: 2.5em;
  padding-bottom: 30px;
  color: royalblue;
}
#landingSection article p{
  font-size: 1em;
  line-height: 1.5em;
  color: royalblue;
  font-weight: bold;
  background: rgba(255, 255, 255, .95);
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}
#landingSection article button{
  font-family: 'CabinSketch-Bold';
  letter-spacing: 0.1em;
  background: whitesmoke;
  color: royalblue;
  font-size: 1.2em;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 1px royalblue;
  font-weight: bolder;
}

/*******SECTION COLLECTION*******/
#collection article{
  width: 100%;
}
#collection article figure img{
  border-radius: 5px;
  height: 25vh;
}

/*******SECTION BEST-SELL*******/
#containerUn{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#containerUn article{
  position: relative;
}
.euro:after{
  content: '€';
}

.heartButBest:before{
  position: absolute;
  z-index: 5000;
  font-size: 1.5em;
  color: red;
  font-weight: bold;
}
.heartButBest{
  position: absolute;
  bottom: 2px;
  right: 2px;
  width: 50px;
  height: 50px;
}
#bestSell{
  margin-bottom: 80px;
}
#bestSellContainer article ul{
  display: flex;
}
#bestSell #bestSellContainer article.landscape{
  width: 100%;
}
#bestSellContainer article.landscape figure{
  /*position: relative;*/
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}
#bestSellContainer article.landscape > div{
  background: rgba(0, 0, 0, .95);
  width: 100%;
  position: relative;
  font-size: 1em;
  color: red;
  border-radius: 5px;
}
#bestSellContainer article.landscape div div{
  position: absolute;
  right: 20px;
  top: 10px;
  text-align: right;
  z-index: 1;
}
#landscapeBloc{
  width: 100%;
}

/*******SECTION CHAUSSURES*******/
#chaussures{
  background: rgba(255, 255, 255, .95);
  position: fixed;
  top: 10vh;
  width: 100vw;
  height: 90vh;
  z-index: 5000;
  overflow: scroll;
  padding-top: 30px;
  padding-bottom: 50px;
}
#chaussuresSubContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#chaussuresSubContainer article{
  position: relative;
}
.heartButChaussures:before{
  position: absolute;
  font-size: 2em;
  color: red;
  font-weight: bold;
}
.heartButChaussures{
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
}

/*******SECTION VETEMENTS*******/
#vetements{
  background: rgba(255, 255, 255, .95);
  position: fixed;
  top: 10vh;
  width: 100vw;
  height: 90vh;
  z-index: 5000;
  overflow: scroll;
  padding-top: 30px;
  padding-bottom: 50px;
}
#vetementsSubContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#vetementsSubContainer article{
  position: relative;
}
.heartButVetements:before{
  position: absolute;
  font-size: 2em;
  color: red;
  font-weight: bold;
}
.heartButVetements{
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
}


/*******SECTION PROMOSLIDE*******/
#promoSlide{
  position: relative;
}
/*#promoSlideContainer{
  position: relative;
  min-height: 250px;
}*/
#promoSlide button{
  position: absolute;
  top: 45%;
  font-size: 2em;
  color: white;
  z-index: 5000;
  background: royalblue;
  border-radius: 100%;
  padding:7px 12px;
}
#promoSlide button:active{
  background: white;
  border: 2px solid royalblue;
  color: royalblue;
}
#promoSlide button#left{
  left: 40px;
}
#promoSlide button#right{
  right: 40px;
}
#promoSlideContainer article.landscape{
  /*position: absolute;*/
  width: 100%;
  border-radius: 5px;
}
#promoSlideContainer article.landscape > div{
  position: relative;
  text-align: center;
}
#promoSlideContainer article.landscape > div > div{
  width: 50%;
  position: absolute;
  top: 5px;
  right: 10px;
  height: 96%;
  padding-left: 10px;
  font-size: 1em;
  text-align: right;
  color: red;
  z-index: 1;
}
#promoSlideContainer article.landscape > div > div h6, #promoSlideContainer article.landscape > div > div span{
  color: red;
}
#promoSlideContainer article.landscape div ul{
  justify-content: flex-end;
}


/*******SECTION NOUVEAUTE*******/
#nouveauteContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#nouveauteContainer article{
  position: relative;
}
.heartButNew:before{
  position: absolute;
  font-size: 2em;
  color: red;
  font-weight: bold;
}
.heartButNew{
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
}

/*******SECTION GRAND CATALOGUE*******/
#catalogue{
  background: rgba(255, 255, 255, .95);
  position: fixed;
  top: 10vh;
  width: 100vw;
  height: 90vh;
  z-index: 5000;
  overflow: scroll;
  padding-top: 30px;
  padding-bottom: 50px;
}
#containerCat{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#containerCat article{
  position: relative;
}
.heartButCat:before{
  position: absolute;
  z-index: 5000;
  font-size: 2em;
  color: red;
  font-weight: bold;
}
.heartButCat{
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
}

#voirCatContainer{
  opacity: 0;
  position: absolute;
  z-index: 10000;
  bottom: 0;
  width: 100%;
  transition: all;
  transition-duration: .5s;
}
#voirCatContainer div{
  display: flex;
  justify-content: center;
  background: rgba(100, 150, 255, .95);
  padding: 5px;
}
#voirCatContainer h6{
  color: white;
  font-size: 1.5em;
}


/*******SECTION LES AVIS*******/
#avisSlide{
  margin-bottom: 100px;
  overflow: hidden;
}
#avisSlide h3{
  padding-top: 20px;
}
#avisSlide article{
  /*position: absolute;*/
  width: 100%;
  align-self: center;
}
#avisSlide article .evalProd{
  padding-bottom: 20px;
}
.avisContainer{
  display: flex;
  align-content: space-around;
}
.avisContainer p{
  color: black;
  text-align: justify;
}
/*#avisSlideContainer{
  position: relative;
}*/
#avisSlideContainer article .avatar{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30%;
  margin-right: 20px;
}
#avisSlideContainer article .bloco2{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 60%;
}
#avisSlideContainer article .evalProd{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#avisSlideContainer article .evalProd figure{
  width: 30%;
}

/*******MODAL CLIENT*******/
#buyers{
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0;
  margin: 0;
  z-index: 10000;
}
#buyers img{
  border-radius: 5px;
}
#buyers article{
  border: none;
  box-shadow: none;
}
#buyers article button#closeBubble{
  position: absolute;
  top: -5px;
  right: 5px;
  font-size: 1.5em;
  color: red;
}
#buyers article > div{
  position: relative;
  background: royalblue;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 250px;
  color: black;
  border: 1px solid white;
  border-radius: 5px;
  margin-left: 20px;
}
#buyers figure{
  width: 100%;
  padding: 10px;
}


/*******LES FORMULAIRES*******/
form input{
  width: 100%;
  margin: auto;
  padding: 10px;
  border-radius: 5px;
  color: royalblue;
  font-weight: bold;
}

form > input{
  width: 50%;
  margin: 10px auto;
  padding: 10px;
  border-radius: 5px;
  color: royalblue;
  font-weight: bold;
}

#consend, #sendIns{
  font-size: .7em;
}

#contactContainer.mettreForme{
  display: block;
}


/*******FORM CONNEXION / INSCRIPTION*******/

#rideauForm{
  position: fixed;
  top: 10vh;
  width: 100vw;
  height: 90vh;
  background: rgba(255, 255, 255, .95);
  z-index: 10000;
}
#rideauForm > div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}
#rideauForm section{
  padding: 0;
  margin: 0;
}
#rideauForm section form{
  background: royalblue;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  height: 50vh;
  margin: auto;
  border-radius: 0 0 5px 5px;
  border-bottom: 5px solid royalblue;
  border-left: 5px solid royalblue;
  border-right: 5px solid royalblue;
}
#rideauForm section form fieldset{
  background: royalblue;
  display: flex;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: none;
}
#rideauForm section form #checkboxBloc{
  position: relative;
  margin: 10px;
  background: none;
  border: none;
}
#rideauForm section form #checkboxBloc input{
  display: none;
}
#rideauForm section form label:before{
  position: absolute;
  top: 13px;
  left: 0;
}
#rideauForm section form #checkboxBloc p {
  font-size: .8em;
  width: 100%;
  letter-spacing: 0;
  padding-left: 10px;
}
#rideauForm section form a{
  font-size: .8em;
  color: white;
  font-weight: bold;
  letter-spacing: 0;
  text-align: center;
}
#formButtonBloc{
  background: royalblue;
  color: white;
  position: relative;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  border-radius: 5px 5px 0 0;
  border-top: 5px solid royalblue;
  border-left: 5px solid royalblue;
  border-right: 5px solid royalblue;
}
#formButtonBloc button#closeForm{
  background: white;
  padding: 0 10px 3px;
  border: 5px solid royalblue;
  border-radius: 100%;
  position: absolute;
  top: -15px;
  right: -15px;
  color: red;
  font-weight: bold;
}
#formButtonBloc button{
  color: white;
  padding: 10px;
  font-weight: bold;
}
#formButtonBloc button.active span{
  border-bottom: 5px solid white;
  border-radius: 5px;
}

/*******FORMULAIRE CONTACT*******/
#contactContainer{
  position: fixed;
  top: 10vh;
  width: 100vw;
  height: 90vh;
  background: rgba(255, 255, 255, .95);
  z-index: 5000;
  padding: 0;
  margin: 0;
}
#contactContainer article{
  border: none;
}
#contactInfo figure{
  padding-bottom: 60px;
}
.contactInfo{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contactInfo div h2{
  font-size: 2.5em;
  text-decoration: underline;
  color: royalblue;
}
.contactInfo div h3{
  color: royalblue;
}
.contactInfo div{
  display: flex;
  flex-direction: column;
  color: royalblue;
  font-weight: bold;
  width: 80%;
}
.contactInfo button{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  margin-top: 50px;
  padding: 10px;
  text-align: center;
  border: 5px solid royalblue;
  border-radius: 5px;
  color: royalblue;
  font-size: 1.2em;
  font-weight: bold;z-index: 50000;
}
.contactInfo button:before{
  color: royalblue;
  padding-right: 20px;
  font-size: 1.5em;
}
#contactContainer article{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  box-shadow: none;
}
#contactContainer article form{
  background: royalblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: 30px auto;
  border-radius: 5px;
  border: 5px solid royalblue;
  padding: 30px 0;
}

#contactContainer article form fieldset{
  border: none;
  background: royalblue;
  display: flex;
  margin: 10px;
  border-radius: 5px;
}
#contactContainer article form textarea{
  width: 100%;
  height: 100px;
  resize: vertical;
  border-radius: 5px;
  color: royalblue;
  font-weight: bold;
  padding: 10px;
}
.contactInfo address, .contactInfo a{
  padding: 5px 0;  
}
.contactInfo address:before, .contactInfo a:before{
  padding-right: 10px;
  color: royalblue;
  font-size: 1em;
}
.contactInfo a{
  color: royalblue;
  font-size: 1.2em;
}
.contactInfo a.icon-envelope-o:before{
  font-size: .8em;
}

/*******MODAL REPONSE*******/
#modalWarning{
  margin: 0;
  padding: 0;
  position: fixed;
  top: 10vh;
  width: 100vw;
  height: 90vh;
  background: rgba(0, 0, 0, .95);
  z-index: 100000;
}
#modalEnsemble{
  display: flex;
  width: 100%;
  height: 90%;
}
#modalEnsemble article{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30%;
  width: 90%;
  margin: auto;
  box-shadow: none;
  border: 5px solid royalblue;
  background: white;
}
#modalEnsemble article p{
  color: royalblue;
  font-size: 1.5em;
}
#modalEnsemble article button#modalClose{
  background: white;
  padding: 0 10px 3px;
  border: 5px solid royalblue;
  border-radius: 100%;
  position: absolute;
  top: -15px;
  right: -15px;
  color: red;
  font-weight: bold;
}

#modalContainer div{
  display: flex;
  justify-content: space-around;
  width: 60%;
  padding: 20px;
}
#modalContainer div button{
  background: royalblue;
  color: white;
  font-weight: bold;
  font-size: 1.3em;
  border-radius: 5px;
  padding: 5px 15px;
}

/*******MON COMPTE*******/
#modalCompte{
  position: fixed;
  top: 10vh;
  width: 100vw;
  height: 90vh;
  background: white;
  z-index: 10000;
  padding: 0;
  margin: 0;
  overflow: scroll;
}
#modalCompteEnsemble{
  display: flex;
  flex-direction: column;
  background: white;
  position: absolute;
  top: 10vh;
  width: 100%;
}
#modalCompteEnsemble h5 {
  font-size: 1.1em;
}
#modalCompteEnsemble h4{
  font-size: 1.5em;
}
#wishListCompte.empty{
  height: 50vh;
}
#modalCompteEnsemble p{
  color: black;
}
#modalCompteEnsemble figure{
  width: 40%;
}
#modalCompteEnsemble h4#personnalCompte{
  padding-bottom: 30px;
  font-size: 1.5em;
  text-transform: capitalize;
}
#modalCompteEnsemble article{
  width: 80%;
  margin: 30px auto;

}
#modalCompteEnsemble article div{
  display: flex;
  justify-content: space-around;
  text-transform: capitalize;
  margin: 10px auto;
}
#blocCoordonnees{
  text-align: left;
  width: 100%;
}
#blocCoordonnees > div{
  width: 50%;
}
#modalCompteEnsemble div article div p{
  padding-left: 10px;
  color: black;
}

#modalCompteEnsemble article div#lastShop{
  padding-top: 30px;
}
#modalCompteEnsemble article div#lastShop > div{
  flex-direction: column;
  justify-content: space-around;
}
#modalCompteEnsemble article div#lastShop div div{
  display: flex;
  flex-direction: column;
}
#modalCompteEnsemble #monIdEnsemble figure{
  width: 40%;
}
#monIdEnsemble{
  display: flex;
}
#monIdEnsemble #blocCoordonnees{
  flex-direction: column;
  justify-content: space-around;
}
#wishListCompte > div{
  display: flex;
  flex-direction: column;
}
#wishListCompte div div.wishBloc2{
  display: flex;
  width: 90%;
  border-bottom: 1px solid royalblue;
}
#wishListCompte > div h4{
  padding-bottom: 30px;

}
#wishListCompte div div div{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 55%;
  align-items: flex-end;
  padding-right: 20px;
  font-size: 1.2em;
}
#compteControle{
  display: flex;
  justify-content: space-around;
}
#compteControle button{
  color: royalblue;
  padding: 20px;
}
#compteControle button.active span{
  border-bottom: 5px solid royalblue;
  border-radius: 20%;
}

/****PAGE PRODUIT****/
#rideauPP{
  position: fixed;
  top: 10vh;
  width: 100vw;
  height: 90vh;
  background: rgba(255, 255, 255, .95);
  z-index: 10001;
  padding: 0;
}
#containerPP{
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#containerPP article{
  width: 100%;
  border-radius: 0;
}
#ensemblePP{
  width: 90%;
  margin: auto;
  /*box-shadow: 0 0 5px 5px #555;*/
  border: 2px solid royalblue;
  background: whitesmoke;
  margin-bottom: 0;
}
#imagesPP{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 5px;
  border: none;
  position: relative;
  box-shadow: none;
}

#imagePP figure{
  padding: 5px;
}

#princPP{
  width: 80%;
  box-shadow: none;
}

#imagesPP div{
  width: 20%;
}
#donneesPP{
  padding: 0 30px;
  border: none;
  box-shadow: none;
}
#infoPP{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#infoPP fieldset{
  border: none;
  width: 40%;
}
#infoPP fieldset select{
  padding: 10px;
  border-color: royalblue;
  border-radius: 5px;
  width: 100%;
  color: royalblue;
  font-weight: bold;
}
#actionPP{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#actionPP input{
  width: 60px;
  text-align: center;
  border-color: royalblue;
  border-radius: 5px;
  padding: 10px 0;
  color: royalblue;
  font-weight: bold;
}
#actionPP button{
  width: 40%;
  font-size: 1em;
  background: royalblue;
  border-radius: 5px;
  padding: 10px;
}
#containerPP #descriPP{
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  /*box-shadow: 0 0 5px 5px #555;*/
  border: 2px solid royalblue;
  background: royalblue;
  border: none;
  text-align: justify;
}
#descriPP h5{
  font-size: 1.5em;
  color: white;
}
#descriPP p{
  color: white;
}
#closePP{
  overflow-y: scroll;
  padding: 3px 10px;
  border: none;
  box-shadow: 5px -5px 10px 5px #555;
  border-radius: 100%;
  position: absolute;
  top: -14px;
  right: -14px;
  color: red;
  background-color: white;
  font-weight: bolder;
}
#butContainerPP{
  display: flex;
  justify-content: space-between;
  font-size: 5em;
  padding: 0 30px;
}
#butContainerPP button{
  color: white;
  background: royalblue;
  border-radius: 100%;
  padding: 17px 22px;
  font-size: 0.6em;
  margin: 30px 0;
}
#butContainerPP button:active{
  background: white;
  border: 2px solid royalblue;
  color: royalblue;
}

/****PAGE PANIER****/
#panier{
  position: fixed;
  top: 10vh;
  width: 100vw;
  height: 90vh;
  background: rgba(255, 255, 255, .95);
  margin: 0;
  z-index: 10000;
  padding: 20px;
  overflow: scroll;
}
#panierBackup{
  background: white;
  display: flex;
  flex-direction: column;
  position: relative;
  /* overflow: scroll; */
  width: 80%;
  top: 10vh;
}
#panierBanner{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 5px 10px;
  background: royalblue;
}
#panierBanner p{
  color: white;
}
#panierBackup article{
  border: none;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  border-radius: 5px;
  width: 100%;
  border-bottom: 2px solid royalblue;
}
#panierBackup article figure{
  width: 100%;
  padding: 0;
}
#panierBackup article figure img{
  border: none;
}
#panierBackup article > div{
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#blocPanier #donneesPanier{
  width: 40%;
}
#blocPanier #qtBlocPanier input{
  width: 100%;
}
#blocPanier #qtBlocPanier select{
  padding: 10px;
}
#blocPanier #qtBlocPanier button{
  color: royalblue;
  text-align: left;
  font-size: 0.7em;
}
#panierBackup article > div p{
  color: royalblue;
}
#panierBackup article > div div h5{
  font-size: 1em;
  color: royalblue;
}
#panierBackup article > div div p:after{
  content: '€';
  font-size: 1em;
  color: royalblue;
}
#panierBackup article > div div button{
  font-size: .5em;
  color: royalblue;
  background: none;
  padding: 0;
  margin: 0;
}
#panierBackup article > div input{
  width: 60px;
  height: auto;
  text-align: center;
  border-color: royalblue;
  color: royalblue;
  border-radius: 5px;
  padding: 10px 0;
  font-weight: bold;
}
#panier p::after{
  content: ' €';
}
#panierBackup article > div#aPayerPanier{
  align-self: flex-end;
  text-align: right;
  font-size: 1.2em;
}
#aPayerPanier h5{
  color: royalblue;
}
#aPayerPanier h5:after{
  content:'€';
  color: royalblue;
}
#calculsPanier{
  width: 66%;
  align-self: flex-end;
  border-top: 5px solid royalblue;
}
#calculsPanier div{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 10px;
  color: royalblue;
}
#calculsPanier div p{
  color: royalblue;
}
#calculsPanier div h5{
  font-size: 1.2em;
}
button#closePanier{
  background: white;
  padding: 0 10px 3px;
  border: 5px solid royalblue;
  border-radius: 100%;
  position: absolute;
  top: -15px;
  right: -15px;
  color: red;
  font-weight: bold;
}
button#calculButton{
  width: 66%;
  color: royalblue;
  background: royalblue;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
  margin-left: auto;
}
#blocPanier{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: scroll;
}
#blocPanier.empty{
  height: 60vh;
  display: flex;
  justify-content: center;
  margin: auto;
}
#blocPanier p{
  color: royalblue;
}
#blocPanier p:after{
  content: '';
}
#panierBanner p:after{
  content:'';
}
#qtBlocPanier{
  align-items: flex-start;
}
.quantPanier{
  display: flex;
  flex-direction: row-reverse;
  align-items: baseline;
  justify-content: flex-start;
  font-weight: bolder;
  font-size: 1.5em;
}
.quantPanier span{
  font-weight: normal;
  padding-right: 10px;
  font-size: 0.8em;
}
.taillePanier{
  display: flex;
  flex-direction: row-reverse;
  align-items: baseline;
  justify-content: flex-start;
  font-weight: bolder;
  font-size: 1.5em;
}
.taillePanier span{
  font-weight: normal;
  padding-right: 10px;
  font-size: 0.8em;
}

/****RETOUR****/

#retour{
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  border: 3px solid royalblue;
  border-radius: 10px 20px 10px 20px;
  z-index: 10000;
}
#retour a:before{
  content: '\f062';
  color: white;
}

/*******FOOTER*******/
footer{
  padding: 0 30px 30px;
  background: royalblue;
  box-shadow: 0 0px 50px 50px royalblue;
}
#footerGrandBloc{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#footerGrandBloc div{
  width: 48%;
  padding-top: 50px;
}
#footerGrandBloc div h4{
  color: white;
}
#footerGrandBloc div ul li button, footer div ul li a{
  color: white;
}
#footerGrandBloc div ul li{
  padding: 5px 0;
}
#footerGrandBloc #reseauxFooter ul{
  display: flex;
}
#footerGrandBloc #reseauxFooter ul li{
  padding: 10px 20px 10px 0;
  font-size: 2.5em;
}
footer p{
  font-size: .7em;
  padding: 20px 0 0;
  text-align: center;
}
#footerGrandBloc #reseauxFooter ul li a{
  color: white;
}

#footerGrandBloc div#footerLogo{
  z-index: 4000;
  width: 100%;
  padding: 0;
  margin: auto;
}
footer h2 span{
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  padding: 5px;
  font-size: 1.4em;
}
#reseauxFooter{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*******CLASSES & ID*******/
.black{
  background: royalblue;
  color: white;
  border-left: 2px solid royalblue;
} 
.white{
  background: white;
  color: royalblue;
  border-right: 2px solid royalblue;
}
.black1{
  background: royalblue;
  color: white;
  border-left: 2px solid white;
}
.white1{
  background: white;
  color: royalblue;
  border-right: 2px solid white;
}
.hide{
  display: none;
}
.animOpacityIn{
  animation-name: opacityIn;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}
.animOpacityOut{
  animation-name: opacityOut;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}
.leftCenterCl{
  animation-name: leftCenter;
  animation-duration: .5s;
  animation-fill-mode: both;
  transition-timing-function: linear;
}
.centerRightCl{
  animation-name: centerRight;
  animation-duration: .5s;
  animation-fill-mode: both;
  transition-timing-function: linear;
}
.centerLeftCl{
  animation-name: centerLeft;
  animation-duration: .5s;
  animation-fill-mode: both;
  transition-timing-function: linear;
}
.rightCenterCl{
  animation-name: rightCenter;
  animation-duration: .5s;
  animation-fill-mode: both;
  transition-timing-function: linear;
}
/* CLASS ANIMATION ARTICLES CATALOGUE / BOUNCE */
.bounce {
  animation-name: bounce;
  transform-origin: center bottom;
  animation-duration: 1s;
  animation-fill-mode: both;
}
.freeze{
  overflow: hidden;
}
.incorrect, #rideauForm section form #checkboxBloc p.incorrect,#infoPP fieldset select.incorrect{
  border-color: red;
  color:red;
}
.contactLiftUpCl{
  animation-name: contactLiftUp;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
.contactLiftUpNormalCl{
  animation-name: contactLiftUpNormal;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
.contactLiftUpPresqueCl{
  animation-name: contactLiftUpPresque;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}

.contactLiftDownCl{
  animation-name: contactLiftDown;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
.contactLiftDownNormalCl{
  animation-name: contactLiftDownNormal;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
.contactLiftDownPresqueCl{
  animation-name: contactLiftDownPresque;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
.opacityUpCl{
  animation-name: opacityUp;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
.opacityDownCl{
  animation-name: opacityDown;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
.navInCl{
  animation-name: navIn;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
.navOutCl{
  animation-name: navOut;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
.lightSpeedIn {
  animation-name: lightSpeedIn;
  animation-timing-function: ease-out;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.lightSpeedOut {
  animation-name: lightSpeedOut;
  animation-timing-function: ease-in;
  animation-duration: 1s;
  animation-fill-mode: both;
}
.mettreForme{
  display: flex;
  justify-content: center;
  align-items: center;
}

.backgroundRed{
  background: red;
}
.backgroundWhite{
  background: white;
}

/* RESPONSIVE **********************************/

@media screen and (min-width: 768px){

/*CSS GENERAL*/
body{
  background: royalblue;
}
main{
  width: 60%;
  margin: auto;
  background: white;
  box-shadow: 0 0 80px 100px white;
}

/*HOVER*/
#logoAccueil:hover .black{
  background: white;
  color: royalblue;
  border-left: 2px solid royalblue;
}
#logoAccueil:hover .white{
  background: royalblue;
  color: white;
  border-right: 2px solid royalblue;
}
#containerCat article:hover #voirCatContainer{
  opacity: 1;
}
/* ANIMATION ARTICLES CATALOGUE / BOUNCE */
#collection article:hover, #bestSell article:hover, #nouveaute article:hover, #catalogue article:hover, #chaussures article:hover, #vetements article:hover{
  animation-name: bounce;
  transform-origin: center bottom;
  animation-duration: .5s;
  animation-fill-mode: both;
}
#footerGrandBloc li:hover button, #footerGrandBloc li:hover a{
  color: orange;
  font-weight: bold;
}
header li:hover span:before, header button:hover{
  font-weight: bolder;
  color: darkblue;
}
#bestSell article:hover #bestDonneesContainer {
  opacity: 0;
}
#bestSell article:hover #voirBestContainer{
  opacity: 1;
}
#bestSell article:hover .heartButBest::before {
  z-index: 11000;
}
#nouveauteContainer article:hover #newDonneesContainer {
  opacity: 0;
}
#nouveauteContainer article:hover #voirNewContainer{
  opacity: 1;
}
#nouveauteContainer article:hover .heartButNew::before {
  z-index: 11000;
}
#containerCat article:hover #catDonneesContainer {
  opacity: 0;
}

/*HEADER / NAV*/

nav.hide{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top:10vh;
  background: whitesmoke;
  width: 100vw;
}
nav ul {
  padding: 1px;
  flex-direction: row-reverse;
  background: none;
  align-items: center;
}
header{
  border-bottom: 1px solid royalblue;
}
header button#navBut{
  display: none;
}
nav ul li a, nav ul li button{
  color: royalblue;
  padding: 0 10px;
  font-size: .8em;
}
header ul span::before {
  font-size: 2em;
}
nav ul li{
  padding: 0 10px;
}
nav ul li:before, nav ul li p:before{
  color: royalblue;
  padding-right: 0px;
  font-size: .8em;
}
nav ul li p:before{
  padding-right: 5px;
}
nav ul li p{
  color: royalblue;
  font-size: 1em;
  padding-left: 5px;
}
nav #personnalMenu {
  color: royalblue;
  padding-bottom: 0;
  align-self: center;
}
nav #personnalMenu p{
  font-size: 0.9em;
  font-weight: bold;
}
/* MODAL CONFIRMATION */
#modalEnsemble article {
  width: 50%;
}
/* #collection article figure img{
  height: 40vh;
} */
/*SECTION LANDINGSECTION*/
#landingSection{
  margin-bottom: 0;
}
#landingSection article {
  border: none;
  color: white;
  position: absolute;
  left: 5%;
  top: 10%;
  width: 65%;
}
#landingSection article p {
  width: 50%;
  font-size: 1.5em;
  line-height: 1.5em;
  padding-bottom: 30px;
  color: royalblue;
}
#landingSection article button {
  font-size: 1.5em;
}


/*SECTION COLLECTION*/
#collection{
  padding-top: 30px;
}


/*PROMOSLIDE*/
#promoSlide{
  padding-top: 10px;
  overflow: hidden;
}

#promoSlide button#left {
  left: 10%;
}
#promoSlide button#right {
  right: 10%;
}
#promoSlideContainer article{
  max-height: 100%;
}

/* BEST SELL */
#bestSell {
  margin-bottom: 30px;
}

#bestSellContainer article.landscape div div {
  right: 0;
  top: 0;
}
#bestDonneesContainer{
  opacity: 1;
  transition-property: all;
  transition-duration: .5s;
}
#voirBestContainer{
  opacity: 0;
  position: absolute;
  z-index: 10000;
  bottom: 0;
  left: 0;
  width: 100%;
  transition-property: all;
  transition-duration: .5s;
}
#voirBestContainer div{
  display: flex;
  justify-content: center;
  background: rgba(100, 150, 255, .95);
  padding: 20px;
}
#voirBestContainer h6{
  padding-right: 30px;
}
#voirBestContainer h6{
  color: white;
  font-size: 1.5em;
}

/*AVIS*/
.data{
  align-self: center;
} 

/* WISHLIST */

article#wishListCompte{
  width: 30%;
}


/*NOUVEAUTE*/

#newDonneesContainer{
  opacity: 1;
  transition-property: all;
  transition-duration: .5s;
}
#voirNewContainer{
  opacity: 0;
  position: absolute;
  z-index: 10000;
  bottom: 0;
  left: 0;
  width: 100%;
  transition-property: all;
  transition-duration: .5s;
}
#voirNewContainer div{
  display: flex;
  justify-content: center;
  background: rgba(100, 150, 255, .95);
  padding: 20px;
}
#voirNewContainer h6{
  padding-right: 30px;
}


#voirNewContainer h6{
  color: white;
  font-size: 1.5em;
}


/*FORMULAIRES*/
#rideauForm {
  position: fixed;
  left: 0;
}
#rideauForm section{
  width: 100%;
} 
#rideauForm section form {
  width: 50%;
  height: auto;
}
#formButtonBloc {
  width: 50%;
}
#rideauForm section form {
  width: 50%;
}
/*CONTACT*/
.contactInfo figure{
  width: 50%;
  margin: auto;
}
/*FORM CONTACT*/
#contactContainer{
  position: fixed;
  top: 10vh;
  left: 0;
  width: 100vw;
  height: 90vh;
  background: rgba(255, 255, 255, .95);
  z-index: 10000;
  padding: 0;
  margin: 0;
}
#contactContainer figure, #contactContainer button {
  display: none;
}

/*MODAL WARNING*/
#modalWarning {
  left: 0;
}
#modalContainer{
  display: flex;
  flex-direction: column;
}
#modalContainer div{
  display: flex;
  justify-content: space-around;
  width: 40%;
  padding: 20px;
}
#modalContainer div button{
  font-weight: bold;
  font-size: 1.3em;
}

/*PANIER*/

#panier {
  left: 0;;
}
#panierBackup{
  position: absolute;
  top: 5vh;
}

/*CATALOGUE*/
#catalogue{
  width: 60%;
  transition-property: all;
  transition-duration: 2s;
  left: 0;
  padding-top: 50px;
  width: 100%;
}
#catalogue h3{
  padding-left: 20%;
}
#containerCat {
  width: 60%;
  margin: auto;
}

/*PAGE PRODUIT MODAL*/
#rideauPP {
  left: 0;
}
#containerPP {
  width: 50%;
  height: auto;
}

#rightButPP{
  left: 105%;
}
#leftButPP{
  right: 105%;
}
#catDonneesContainer{
  opacity: 1;
  transition-property: all;
  transition-duration: .5s;
}
#voirCatContainer{
  opacity: 0;
  position: absolute;
  z-index: 10000;
  bottom: 0;
  left: 0;
  width: 100%;
  transition-property: all;
  transition-duration: .5s;
}
#voirCatContainer div{
  display: flex;
  justify-content: center;
  background: rgba(100, 150, 255, .95);
  padding: 20px;
}
#voirCatContainer h6{
  padding-right: 30px;
}

#containerCat article:hover #voirCatContainer{
  opacity: 1;
}
#voirCatContainer h6{
  color: white;
  font-size: 1.5em;
}
#containerCat article:hover .heartButCat::before {
  z-index: 11000;
}
/*MODAL MON COMPTE*/
#modalCompte {
  left: 0;
  background: royalblue;
}

/*******SECTION VETEMENTS*******/
#vetements{
  left: 0;
  width: 100%;
  padding-top: 50px;
}
#vetements h3{
  padding-left: 20%;
}

#veteDonneesContainer{
  opacity: 1;
  transition-property: all;
  transition-duration: .5s;
  
}
#vetementsSubContainer{
  width: 60%;
  margin: auto;
}
#vetementsSubContainer article:hover #veteDonneesContainer {
  opacity: 0;
}
#voirVetementsContainer{
  opacity: 0;
  position: absolute;
  z-index: 10000;
  bottom: 0;
  left: 0;
  width: 100%;
  transition-property: all;
  transition-duration: .5s;
}
#voirVetementsContainer div{
  display: flex;
  justify-content: center;
  background: rgba(100, 150, 255, .95);
  padding: 20px;
}
#voirVetementsContainer h6{
  padding-right: 30px;
}

#vetementsSubContainer article:hover #voirVetementsContainer{
  opacity: 1;
}
#voirVetementsContainer h6{
  color: white;
  font-size: 1.5em;
}
#vetementsSubContainer article:hover .heartButVetements::before {
  z-index: 11000;
}

/*******SECTION CHAUSSURES*******/
#chaussures{
  left: 0;
  width: 100%;
  margin: auto; 
  padding-top: 50px;
}
#chaussuresContainer h3{
  margin-left: 20%;
}

#chaussDonneesContainer{
  opacity: 1;
  transition-property: all;
  transition-duration: .5s;
}
#chaussuresSubContainer{
  width: 60%;
  margin: auto;
}

#chaussuresSubContainer article:hover #chaussDonneesContainer {
  opacity: 0;
}
#voirChaussuresContainer{
  opacity: 0;
  position: absolute;
  z-index: 10000;
  bottom: 0;
  left: 0;
  width: 100%;
  transition-property: all;
  transition-duration: .5s;
}
#voirChaussuresContainer div{
  display: flex;
  justify-content: center;
  background: rgba(100, 150, 255, .95);
  padding: 20px;
}
#voirChaussuresContainer h6{
  padding-right: 30px;
}

#chaussuresSubContainer article:hover #voirChaussuresContainer{
  opacity: 1;
}
#voirChaussuresContainer h6{
  color: white;
  font-size: 1.5em;
}
#chaussuresSubContainer article:hover .heartButChaussures::before {
  z-index: 11000;
}

/*FOOTER*/

#footerGrandBloc div h4{
  color: white;
  font-size: 1.5em;
}
#footerGrandBloc div button, #footerGrandBloc div a{
  font-size: 1.3em;
}
footer h2 span {
  font-size: 1.8em;
}

/*RETOUR*/
#retour {
  background: white;
  border: 3px solid black;
}
#retour a::before {
  color: royalblue;
}
button#modalClose{
  display: block;
}

}
/* *******************************************1024******************************************* */

@media screen and (min-width: 1024px){

/*CSS GENERAL*/
section article {
  width: 24%;
}
.heartButBest:before, .heartButCat:before, .heartButVetements:before, .heartButChaussures:before, .heartButNew:before{
  font-size: 1.5em;
}
.heartButBest, .heartButCat, .heartButVetements, .heartButChaussures, .heartButNew{
  bottom: 5px;
  right: 1px;
}

/*LANDSCAPE BESTSELL*/
#landscapeBloc {
  display: flex;
  justify-content: space-between;
}
#bestSell #bestSellContainer article.landscape {
  width: 49%;
}


/*SECTION COLLECTION*/
#collection div{
  display: flex;
  justify-content: space-between;
}
#collection article{
  width: 49%;
}

/*PROMOSLIDE*/
#promoSlide{
  padding-top: 10px;
  overflow: hidden;
}
#promoSlide button#left {
  left: 10%;
}
#promoSlide button#right {
  right: 10%;
}
#promoSlideContainer article{
  max-height: 100%;
}

/*MODAL PAGE PRODUIT*/
#containerPP {
  position: relative;
  width: 30%;
  height: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#butContainerPP button {
  position: absolute;
  top: 50%;
}

/*PANIER*/
#panierBackup{
  width: 30%;
}

/*FORM*/
#contactContainer article{
  width: 50%;
  height: auto;
}

/*FOOTER*/
#footerGrandBloc{
  justify-content: space-around;
}
#footerGrandBloc div {
  width: 20%;
  padding-top: 50px;
  padding: auto;
  margin-left: auto;
}
}

/* *******************************************1275******************************************* */
@media screen and (min-width: 1075px){

/*HEADER*/
header button#navBut{
  display: none;
}
nav.hide{
  display: flex;
  align-items: center;
  position: static;
  justify-content: inherit;
  width: auto;
}
nav ul {
  flex-direction: row-reverse;
  background: none;
  align-items: center;
}
}


/*KEYFRAMES MODAL CLIENT*/
@keyframes opacityIn{
  from{opacity: 1}
  to{opacity: 0}
}
@keyframes opacityOut{
  from{opacity: 0}
  to{opacity: 1}
}

/*KEYFRAMES PROMOSLIDE*/

@keyframes leftCenter{
  from{transform: translateX(-150%);}
  to{transform: translateX(0);}
}
@keyframes centerRight{
  from{transform: translateX(0);}
  to{transform: translateX(150%);}
}

@keyframes centerLeft{
  from{transform: translateX(150%);}
  to{transform: translateX(0);}
}
@keyframes rightCenter{
  from{transform: translateX(0);}
  to{transform: translateX(-150%);}
}

/* KEYFRAMES ARTICLES CATALOGUE / BOUNCE */
@keyframes bounce {
  100% {
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.855);
    transform: translate3d(0, -10px, 0);
  }
} 

/*KEYFRAMES PAGE CONTACT*/
@keyframes contactLiftUp{
  from{transform: translateY(0)}
  to{transform: translateY(-300%)}
}
@keyframes contactLiftUpNormal{
  from{transform: translateY(0)}
  to{transform: translateY(-100%)}
}
@keyframes contactLiftUpPresque{
  from{transform: translateY(0)}
  to{transform: translateY(-900%)}
}
@keyframes contactLiftDown{
  from{transform: translateY(-300%)}
  to{transform: translateY(0)}
}
@keyframes contactLiftDownNormal{
  from{transform: translateY(-100%)}
  to{transform: translateY(0)}
}
@keyframes contactLiftDownPresque{
  from{transform: translateY(-900%)}
  to{transform: translateY(0)}
}
@keyframes opacityUp{
  100%{opacity: 0}
}
@keyframes opacityDown{
  100%{opacity: 1}
  0%{opacity: 0}
}

/*NAV*/
@keyframes lightSpeedIn {
  0% {
    transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0;
  }
  60% {
    transform: skewX(20deg);
    opacity: 1;
  }
  80% {
    transform: skewX(-5deg);
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
} 

@keyframes lightSpeedOut {
  0% {
    opacity: 1;
  }
  100% {
    transform: translate3d(100%, 0, 0) skewX(30deg);
    opacity: 0;
  }
} 